<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Le TP web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Application sur le système solaire</h1>
    <p>Voici une petite application sur le système solaire.</p>

    <p>Les 3 planètes du système solaire sont :</p>
    <ol>
        {% for p in planets %}
        <li>{{ p.name }}</li>
        {% endfor %}
      </ol>
    </body>
</html>
